{% extends "base.html" %}
{% load static %}


{% block content %}
    <img class="w-100" src="{% static 'assignment_app/images/rotunda.jpg' %}" alt="rotunda">
    <h1 class="position-absolute text-white display-1 p-3">Welcome {{student_name}}!</h1>
    <h2>What would you like to do?</h2>
    <br>
    <div class="row row-cols-xl-4 g-4">
        <div class="col d-flex justify-content-center">
            <a class="card hover-card text-center text-dark text-decoration-none" href="{% url 'app:courselist' %}" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title">See all courses</h4>
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" margin="auto" height="100" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                    <p class="card-text">Look at a searchable list of all courses offered at UVA and enroll in yours.</p>
                </div>
            </a>
        </div>
        <div class="col d-flex justify-content-center">
            <a class="card hover-card text-center text-dark text-decoration-none" href="{% url 'app:enroll_course' student_id %}" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title">View your Enrollment</h4>
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" margin="auto" height="100" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                        <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                    </svg>
                    <p class="card-text">See what courses you are already enrolled in, and look at their details.</p>
                </div>
            </a>
        </div>
        <div class="col d-flex justify-content-center">
            <a class="card hover-card text-center text-dark text-decoration-none" href="{% url 'app:upload_pdf' %}" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title">Upload a PDF</h4>
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" margin="auto" height="100" fill="currentColor" class="bi bi-file-earmark-font" viewBox="0 0 16 16">
                        <path d="M10.943 6H5.057L5 8h.5c.18-1.096.356-1.192 1.694-1.235l.293-.01v5.09c0 .47-.1.582-.898.655v.5H9.41v-.5c-.803-.073-.903-.184-.903-.654V6.755l.298.01c1.338.043 1.514.14 1.694 1.235h.5l-.057-2z"/>
                        <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                    </svg>
                    <p class="card-text">Upload a PDF to the website to be viewed by other students and you.</p>
                </div>
            </a>
        </div>
        <div class="col d-flex justify-content-center">
            <a class="card hover-card text-center text-dark text-decoration-none" href="{% url 'app:calendar' %}" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title">Go to the Calendar</h4>
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" margin="auto" height="100" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                    </svg>
                    <p class="card-text">Go to the calendar page and see events coming up.</p>
                </div>
            </a>
        </div>
    </div>

{% endblock %}
