{% extends "base.html" %}

{% block content %}
    <br>
    <h2>What would you like to do?</h2>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <a href="{% url 'app:courselist' %}" class="btn btn-primary">View all courses</a>
        </div>
        <div class="col-sm-4">
            <a href="{% url 'app:pdf_list' %}" class="btn btn-primary">View all PDFs</a>
        </div>
        <div class="col-sm-4">
            <a href="{% url 'app:upload_pdf' %}" class="btn btn-primary">Upload a PDF</a>
        </div>
    </div>

{% endblock %}
