{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
        <a href="/" class="navbar-brand">The Assignment Organizer</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-1">
                <li class="nav-item">
                    <a class="nav-link" href="/app/inctag">Students Online</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/app/courses">Course List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/app/pdf_list">PDF List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/app/upload_pdf">Upload a PDF</a>
                </li>
            </ul>
            <ul class="navbar-nav me-1">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>

