{% extends "base.html" %}

{% block content %}
    <h2>List of Enrolled Students</h2>
    <table class="table">
        <thead>
            <th scope="column">Name</th>
            <th scope="column">Email</th>
            <th scope="column">Graduation Year</th>
            <th scope="column">Major</th>
            <th scope="column">Link</th>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.first_name }} {{ student.last_name }}</td>
                <td>{{ student.user.email }}</td>
                <td>{{ student.grad_year }}</td>
                <td>{{ student.major }}</td>
                <td>
                    <a href="{% url 'app:enroll_course' student.id %}" class="btn btn-sm btn-primary">
                        View Enrollments
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{% url 'app:coursedetail' course.course_id 'view' %}">Return to course information</a>
{% endblock %}