{% extends "base.html" %}

{% block content %}
<div class="container">
    <br>
    <div class="row">
                    <li class="list-group-item text-center">
                        <ul class="list-group">
                            <li>Course code: {{course.mnemonic}}</li>
                            <li>Professor: {{course.professor}}</li>
                            <li>Start time: {{course.start_time}}</li>
                            <li>End time: {{course.end_time}}</li>
                            <li>Days taught: </li>
                            <div class="list-group-item text-center">
                                {% if course.monday %}
                                    <li>Monday</li>
                                    {% endif %}
                            </div>
                            <div class="list-group-item text-center">
                                {% if course.tuesday %}
                                    <li>Tuesday</li>
                                    {% endif %}
                            </div>
                            <div class="list-group-item text-center">
                                {% if course.wednesday %}
                                    <li>Wednesday</li>
                                    {% endif %}
                            </div>
                            <div class="list-group-item text-center">
                                {% if course.thursday %}
                                    <li>Thursday</li>
                                    {% endif %}
                            </div>
                            <div class="list-group-item text-center">
                                {% if course.friday %}
                                    <li>Friday</li>
                                    {% endif %}
                            </div>
                        </ul>
                    </li>       
    </div>
</div>

    <a class="btn btn-primary" href="{% url 'app:courselist'%}">Return to course list</a>
{% endblock %}
