{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block content %}
    <h2>{{ student_name }}'s current enrollments:</h2>
    <div class="row row-cols-xl-4 g-4">
        {% for enrollment in enrollments %}
            <div class="col d-flex justify-content-center w-100">
                <a class="card hover-card text-center text-dark text-decoration-none" href="{% url 'app:coursedetail' enrollment.course.course_id 'view' %}" style="width: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title">{{enrollment.course.course_mnemonic}}</h4>
                        <p class="card-text m-0 fw-bold">{{enrollment.course.name}}</p>
                        <p class="card-text m-0">Professor: {{enrollment.course.professor}}</p>
                        <p class="card-text m-0">Start Time: {{enrollment.course.start_time}}</p>
                        <p class="card-text m-0">End Time: {{enrollment.course.end_time}}</p>
                        <p class="card-text m-0">On
                            {% if enrollment.course.monday %} Monday {% endif %}
                            {% if enrollment.course.tuesday %} Tuesday {% endif %}
                            {% if enrollment.course.wednesday %} Wednesday {% endif %}
                            {% if enrollment.course.thursday %} Thursday {% endif %}
                            {% if enrollment.course.friday %} Friday {% endif %}
                        </p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}