{% extends "base.html" %}


{% block content %}
    <h2>PDF List</h2>

    <table>
        <thead>
            <tr>Title</tr>
            <tr>Course</tr>
            <tr>Uploaded by</tr>
            <tr>Uploaded at</tr>
            <tr>Link</tr>
        </thead>
        <tbody>
            {% for pdf in pdf_list %}
            <tr>
                <td>{{ pdf.title }}</td>
                <td>{{ pdf.course }}</td>
                <td>{{ pdf.uploader }}</td>
                <td>{{ pdf.datetime }}</td>
                <td>
                    <a href="{{ pdf.pdf_file.url }}">
                        View PDF
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/app/upload_pdf">Upload a PDF</a>
{% endblock %}