<!-- cal/templates/cal/base2.html -->
{% load static %}
{% load studenttag %}

<!doctype html>
<html lang="en">

  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% bootstrap_messages %}
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
      <div class="container-fluid">
          <button class="navbar-toggler flex-grow-sm-1 flex-grow-0 me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
              <span class="navbar-toggler-icon"></span>
          </button>
          <a href="/app/" class="navbar-brand">The Assignment Organizer</a>
          <div class="collapse navbar-collapse" id="navbar">
              <ul class="navbar-nav ms-1">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'app:online_now' %}">
                          Students Online
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'app:courselist' %}">
                          Course List
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'app:pdf_list' %}">
                          PDF List
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'app:upload_pdf' %}">
                          Upload a PDF
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'app:calendar' %}">
                          Calendar
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'app:event_new' %}">
                          New Event
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/app/enroll_course/{% get_student request %}">
                          Your Enrollments
                      </a>
                  </li> 
                  <li class="nav-item">
                      <a class="nav-link" href="/logout">Logout</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  
  </body>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <link rel="stylesheet" type="text/css" href="{% static 'assignment_app/css/styles.css' %}">
  <title>Calendar</title>
</head>
<body>

  {% block content %}
  {% endblock %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  {% block script %}
  {% endblock %}
</body>
</html>